@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 90px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr; /* Cambiamos el ancho de la primera columna a "auto" */
  gap: 10px;
}



.form label,
.form input,
.form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.form select {
  margin-bottom: 20px;
  grid-column: span 2; /* Ocupa dos columnas completas */
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button.nuevo-presupuesto-btn {
  background-color: #ffc107;
}

.form button:hover {
  background-color: #0056b3;
}

.productos {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.productos h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.productos button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.productos button.editar {
  background-color: #ffc107;
  margin-right: 10px;
}

.productos button:hover {
  background-color: #c82333;
}

.presupuesto {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presupuesto h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.cliente-pago {
  font-size: 18px;
  margin-bottom: 5px;
}

.total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.total-presupuesto {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
  background-color: #007bff;
  border-radius: 4px;
}

#clienteFinal,
#metodoPagoFinal {
  font-weight: bold;
}

#detalleProductos li {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.descargar-btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.descargar-btn:hover {
  background-color: #218838;
}
h5{
  margin-top: -10px;
  color: red;
}



@media (max-width: 576px) {

  
  .form label,
  .form input,
  .form select,
  .form button {
    padding: 8px; 
  }

  .productos h2,
  .totales h2 {
    font-size: 20px; 
  }

  .total {
    font-size: 16px; 
  }

  .total-presupuesto {
    font-size: 18px;
  }

  #detalleProductos li {
    font-size: 14px; 
  }

  .descargar-btn {
    padding: 8px; 
    margin-top: 15px; 
      padding: 8px;
      margin-top: 15px; 
    }
  }

  
  
  @media (max-width: 768px) {
   .columna-celu{
    display: grid;
    grid-template-columns: 1fr;
   }
  
    table {
      width: 100%; // Asegurarse de que la tabla se ajuste al ancho de su contenedor
      overflow-x: auto; // Agregar scroll horizontal si el contenido se desborda
    }
  
    th,
    td {
      white-space: nowrap; // Evitar el salto de línea en las celdas
    }
  }

  

  #historialPresupuestos {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  .main-section {
    text-align: center;
    margin: 9% auto 0;
    width: 60%;
    padding: 29px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-section h2 {
    text-transform: uppercase;
    color: #736c6c;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.form-side {
    width: 50%;
    margin-top: 2%;
}
.form-side form#form-search {
    display: flex;
    flex-direction: column;
}
.image-side {
    background-image: url(img/cripotoImage.png); 
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-side #form-search select {
    font-size: inherit;
    margin: 8px 0px 7px;
    background-color: aliceblue;
    padding: 8px 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: solid 1px #ada2a2;
    color: #736d6d;
}
input[type="submit"] {
    margin: 9px auto 0px;
    width: 50%;
    color: cadetblue;
    background-color: #00a478;
    border: solid 0px #ada2a2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 3px;
    color: #FFF;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]:hover {
    color: #00a478;
    background-color: #fff;
    border: solid 2px #00a478;
}
.error {
    color: red;
}
.display-info p span{
    font-weight: 700;
}
.display-info .main-price{
    font-size: 28px;
    margin-bottom: 2px;
}


